.pageTitle{
	text-align: center;
}

ul{
	padding-left: 1.7rem;
}
.get-news{
	margin-bottom: 1rem;
	width: 10rem;
	height: 3rem;
	font-size: 1rem;
}
.socialIcon{
	width: 3rem;
	padding-right: 1rem;
	padding-left:0;
}
.social-media ul {
	padding-left:0;
}
h1 {
	font-size: 20px;
}
h3, h4 {
	font-weight: normal;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}

.panel-group{
	padding: 1rem
}
.panel-heading {
	padding: 0;
	height: 3.5rem;
}
.glyphicon-menu-hamburger{
	font-size: 1rem;
}
@media (max-width: 768px) {
    .address, .contact, .social-media, .panel-link  {
        text-align: center;
    }
}
.division-hr {
	height: 10px;
	color: black;
	background-color: black;
}
.img-crop {
	object-fit: cover;
}
@media (max-width: 768px) {
	.photo .pull-left{
    float: none!important;
	}
}
.rep{
	padding-bottom: 30px;
	border-bottom: 2px dashed grey;
}
#repPhoto {
	height: 18rem; background-color: white; 
}
#repPhoto[class] {
	width: 15rem;
}
.panel-link {
	display: block;
	height: 3.6rem;
}
.news-button-text{
	display: block;
	padding-top: .5rem;
	padding-left: 1rem;
}
.panel-body{
	max-height: 45rem;
}
.panel:hover{
	border: .1rem solid grey;

}
@media (min-width: 768px) {
	.tab-pane{
		padding-left: 5.5rem;
	}
}
@media (max-width: 768px) {
	.nav-tabs {
		padding-left: 15px;
	}
}
@media (min-width: 768px) {
	#repPhoto {
		padding-left: 15px;
	}
}

.tab-pane{
	border: #d3d3d3 .1rem solid;
}
.nav-tabs{
	border: 0;
}
.nav-tabs li a {
	padding-left: 0;
}
.tab-display {
	border: 1px grey;
	margin: 15px;
}
.twitter-tab{
	height: 52rem;
}