.pageTitle{
	text-align: center;
}

ul{
	padding-left: 1.7rem;
}
.get-news{
	margin-bottom: 1rem;
	width: 10rem;
	height: 3rem;
	font-size: 1rem;
}
.socialIcon{
	width: 4rem;
	padding-right: 1rem;
}
.panel-group{
	padding: 1.5rem
}
.glyphicon-menu-hamburger{
	font-size: 1rem;
}
.address h4, .contact h4, .social-media h4 {

}
.photo {


}
.img-crop {
	object-fit: contain;
}
#repPhoto {
	height: 15rem; background-color: white; 
}
#repPhoto[class] {
	width: 15rem;
}
.panel-link {
	display: block;
}