.pageTitle{
	text-align: center;
}

ul{
	padding-left: 1.7rem;
}
.get-news{
	margin-bottom: 1rem;
	width: 10rem;
	height: 3rem;
	font-size: 1rem;
}
.socialIcon{
	width: 4rem;
	padding-right: 1rem;
}
.panel-group{
	padding: 1rem
}
.panel-heading {
	padding: 0;
	height: 3.5rem;
}
.glyphicon-menu-hamburger{
	font-size: 1rem;
}
@media (max-width: 768px) {
    .address, .contact, .social-media, .panel-link  {
        text-align: center;
    }
}

.photo {

}
.img-crop {
	object-fit: contain;
}
#repPhoto {
	height: 15rem; background-color: white; 
}
#repPhoto[class] {
	width: 15rem;
}
.panel-link {
	display: block;
	height: 3.6rem;
}
.news-button-text{
	display: block;
	padding-top: .5rem;
	padding-left: 1rem;
}
.panel-body{
	height: 38rem;
}
.panel:hover{
	border: .1rem solid grey;

}
.expand-row{

}